html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}
.table .thead-primary th {
    color: #fff;
    background-color: #54d3c2;
    border-color: #54d3c2;
}

.form-control {
    font-size: 0.9rem;
}
.table .input-group {
    min-width: 150px;
}
.nav-pills .nav-link {
    font-weight: 500;
}
#app,
#app > .container-fluid,
#app > .container-fluid > .row {
    height: 100%;
}
.sidebar {
    height: 100%;
    background: #54d3c2;
}
@media(min-width: 992px) {
    .sidebar-wrapper {
        position: fixed;
        height: 100%;
        bottom: 0;
    }
}
.data-wrapper {
    background: url(../assets/images/gratis.png);
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.justify-space-between {
    justify-content: space-between;
}