<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >

    <title>Gratis - Management Interface</title>
    <style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0; }
    body {
        /*padding-top: 56px;*/}
    .table .thead-primary th {
    color: #fff;
    background-color: #54d3c2;
    border-color: #54d3c2;
    }

    .table .input-group {
        min-width: 150px;
    }
    #app,
    #app > .container-fluid,
    #app > .container-fluid > .row {
        height: 100%;
    }
    @media(min-width: 992px) {
        .sidebar-wrapper {
            position: fixed;
            height: 100%;
            bottom: 0;
        }
    }
    .sidebar {
        height: 100%;
        background: #54d3c2;
    }
    .justify-space-between {
    justify-content: space-between;
    }
    </style>
    <!--Core Firebase JS SDK  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="js/function.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-white shadow-sm fixed-top border-bottom d-none">
    <span class="navbar-brand mb-0 h1">Gratis</span>
</nav>
<section class="section" id="app">
   <div class="container-fluid p-0 ">
       <div class="row no-gutters">
           <div class="col-12 col-md-3 col-lg-3 col-xl-2 sidebar-wrapper">
               <div class="sidebar bg-light border-right p-3">
                   <div class="nav flex-column nav-pills justify-space-between h-100" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
                     <div>
                         <a class="nav-link" :class="{ 'active' : selectedRoute == 'Locations'}" href="#" @click="selectedRoute = 'Locations'">Locations</a>
                         <a class="nav-link" :class="{ 'active' : selectedRoute == 'Reviews'}" href="#" @click="selectedRoute = 'Reviews'">Reviews</a>
                         <a class="nav-link" :class="{ 'active' : selectedRoute == 'Destinations'}" href="#" @click="selectedRoute = 'Destinations'">Destinations</a>
                         <a class="nav-link" :class="{ 'active' : selectedRoute == 'Galleries'}" href="#" @click="selectedRoute = 'Galleries'">Galleries</a>
                         <a class="nav-link" :class="{ 'active' : selectedRoute == 'Users'}" href="#" @click="selectedRoute = 'Users'">Users</a>
                     </div>
                   <button class="nav-link btn btn-primary mt-5" v-if="selectedRoute == 'Locations'" data-toggle="modal" data-target="#addLocation">Add New Location</button>
                   <button class="nav-link btn btn-primary mt-5" v-if="selectedRoute == 'Reviews'" data-toggle="modal" data-target="#addReview">Add New Review</button>
                   </div>
             </div>
           </div>

           <div class="col-12 col-md-9 col-lg-9 col-xl-10 mr-md-0 ml-md-auto">
               <div class="card shadow-sm m-3" v-if="selectedRoute == 'Locations'">
                   <div id="tableLocations" class="table-responsive">
                       <table class="table">
                           <thead class="thead-primary">
                           <th>ID</th>
                           <th>Location Name</th>
                           <th>Summary</th>
                           <th>City</th>
                           <th>Country</th>
                           <th>Backdrop Path</th>
                           <th></th>
                           </thead>
                           <tbody>
                           <tr v-for="location in locations">
                               <td style="vertical-align:middle;">{{location.id}}</td>
                               <td><div class="input-group"><input class="form-control" v-model="location.locationName" onkeyup="this.value = this.value.toLowerCase();" placeholder="{{location.locationName}}"/></div></td>
                               <td><div class="input-group"><input class="form-control" v-model="location.summary" placeholder="{{location.summary}}"/></div></td>
                               <td><div class="input-group"><input class="form-control" v-model="location.city" onkeyup="this.value = this.value.toLowerCase();" placeholder="{{location.city}}"/></div></td>
                               <td><div class="input-group"><input class="form-control" v-model="location.country" onkeyup="this.value = this.value.toLowerCase();" placeholder="{{location.country}}"/></div></td>
                               <td style="white-space: nowrap; text-align: right;">
                                   <div class="input-group">
                                       <input class="form-control d-inline-block" v-model="location.backdropPath" placeholder="{{location.backdropPath}}"/>
                                       <div class="input-group-append">
                                           <a class="btn btn-secondary ml-1" :href="location.backdropPath" data-toggle="tooltip" data-placement="top" title="Tooltip on top" target="_blank"><i class="fas fa-link"></i></a>
                                       </div>
                                   </div></td>
                               <td style="white-space: nowrap; text-align: right;"><button class="btn btn-info" type="button" @click="updateLocation(location)"><i class="fas fa-save"></i></button><button class="btn btn-danger ml-1" type="button" @click="deleteLocation(location.id)"><i class="fa fa-trash"></i></button></td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="modal fade" id="addLocation">
                       <div class="modal-dialog modal-dialog-centered">
                           <div class="modal-content">
                               <form @submit.prevent="addLocation()" >
                                   <div class="modal-header bg-primary">
                                       <h6 class="modal-title text-white">Add New Location</h6>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>
                                   <div class="modal-body">
                                       <div class="form-group">
                                           <label>Location Name:</label>
                                           <input class="form-control" v-model="inputLocationName"  onkeyup="this.value = this.value.toLowerCase();">
                                       </div>
                                       <div class="form-group">
                                           <label>Summary:</label>
                                           <input class="form-control" v-model="inputLocationSummary">
                                       </div>
                                       <div class="form-group">
                                           <label>City:</label>
                                           <input class="form-control" v-model="inputLocationCity"  onkeyup="this.value = this.value.toLowerCase();">
                                       </div>
                                       <div class="form-group">
                                           <label>Country:</label>
                                           <input class="form-control" v-model="inputLocationCountry"  onkeyup="this.value = this.value.toLowerCase();">
                                       </div>
                                       <div class="form-group">
                                           <label>Backdrop Image Path:</label>
                                           <input class="form-control" v-model="inputLocationBackdropPath" >
                                       </div>
                                   </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <button type="submit" class="btn btn-primary">Submit</button>
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
                   <div class="card shadow-sm m-3" v-if="selectedRoute == 'Reviews'">
                       <div id="tableReviews" class="table-responsive">
                            <table class="table">
                               <thead class="thead-primary">
                               <th>ID</th>
                               <th>Reviewer Name</th>
                               <th>Review Content</th>
                               <th>Review Location</th>
                               <th></th>
                               </thead>
                               <tbody>
                               <tr v-for="review in reviews" >
                                   <td style="vertical-align:middle;">{{review.id}}</td>
                                   <td>
                                       <div class="input-group">
                                           <select class="form-control" v-model="review.reviewUser" >
                                               <option v-for="(user, index) in users" :value="user.fullName" :selected="review.reviewUser == user.fullName ">
                                                   {{user.fullName}}
                                               </option>
                                           </select>
                                       </div>
                                   </td>
                                   <td><div class="input-group"><input class="form-control" v-model="review.reviewBody"/></div></td>
                                   <td>
                                       <div class="input-group">
                                           <select class="form-control" v-model="review.reviewLocation">
                                               <option v-for="(location, index) in locations" :value="location.locationName">
                                                   {{location.locationName}}
                                               </option>
                                           </select>
                                       </div>
                                   </td>
                                   <td style="white-space: nowrap; text-align: right;"><button class="btn btn-info" type="button" @click="updateReview(review)"><i class="fa fa-save"></i></button><button class="btn btn-danger ml-1" type="button" @click="deleteReview(review.id)"><i class="fa fa-trash"></i></button></td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="modal fade" id="addReview">
                           <div class="modal-dialog modal-dialog-centered">
                               <div class="modal-content">
                                   <form @submit.prevent="addReview()" >
                                       <div class="modal-header bg-primary">
                                           <h6 class="modal-title text-white">Add New Review</h6>
                                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       </div>
                                       <div class="modal-body">
                                           <div class="form-group">
                                               <label>Reviewer Name:</label>
                                               <!--<input class="form-control" v-model="inputReviewUser" onkeyup="this.value = this.value.toLowerCase();">-->
                                               <select class="form-control" v-model="inputReviewUser">
                                                   <option v-for="(user, index) in users" :value="user.fullName">
                                                       {{user.fullName}}
                                                   </option>
                                               </select>
                                           </div>
                                           <div class="form-group">
                                               <label>Review Content:</label>
                                               <input class="form-control" v-model="inputReviewBody">
                                           </div>
                                           <div class="form-group">
                                               <label>Review Location:</label>
                                               <input class="form-control" v-model="inputReviewLocation" onkeyup="this.value = this.value.toLowerCase();">
                                           </div>
                                       </div>
                                       <div class="modal-footer">
                                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                           <button type="submit" class="btn btn-primary">Submit</button>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
               </div>
           </div>
       </div>
   </div>
</section>




<script src="js/config.js"></script>
<script src="js/data.js"></script>
<script src="https://kit.fontawesome.com/e849cb88ed.js" crossorigin="anonymous"></script>
</body>
</html>